// _icons.scss
@import 'colors';

.social-link {
    margin: 10px;

    i {
        font-size: 32px;
        color: $andromeda-light;
    }

    .svg-icon {
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 32px;
        fill: white;
    }
}